html
{
    scroll-behavior:smooth;
}
#title
{
    background-color: #ff4c68;
    color: white;
}
h1
{  
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem; 
    line-height: 1.5;
    font-weight: 900;
}
.container-fluid
{
    padding: 3% 15% 7%;
    
}
body
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.navbar-brand
{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar
{
    padding: 0 0 4.5rem;
}

.nav-item
{
    padding: 0 18px 0;
}
.nav-link
{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
   
}


.download-button
{
    margin: 5% 3% 5% 0;
}

.titleimg
{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
    
}
#features
{
    background-color: white;
    position: relative;
  
}

.featurehead
{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
   
}

.featuredesc
{
    color: #8f8f8f;
    width: 75%;
    margin: auto;
}

.feature
{
    padding: 20px;
    margin: 1.5rem 0 1.5rem 0;
}

.fas 
{
    
    color: #ef8172;
    margin: 2.5rem 0 1.5rem 0;
}

.fas:hover
{
    color: #ff4c68;
}

.feat 
{
    padding: 7% 15%;
}


#testimonials
{
    text-align: center;
    background-color:  #ef8172; 
    color: white;
}

h2
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}


.testimonial-image
{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


#press
{
    background-color:  #ef8172; 
    text-align: center;
    padding-bottom: 3%;
}

.press-logo
{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item
{
    padding: 7% 15%;
}

#pricing
{
    padding:100px;
    text-align: center;
}


.pricing-column
{
    padding:3% 2%;
}


@media (max-width:1028px)
{
    #title
    {
        text-align: center;
    }

    .titleimg
    {
        position: static;
        transform: rotate(0);
    } 

}



#cta
{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}
#footer
{
    background-color: white;
    text-align: center;
    padding: 7% 15%;
}

.ctahead
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem; 
    line-height: 1.5;
    font-weight: 900;
    color: white;
    margin: auto;
    width:80%;
    
}


.footer-icon
{
    margin:20px 10px;
    margin-bottom: 30px;
}

.footer-copyright
{
    
    color: #8f8f8f;
}
